/* Basic Styling */
header {
  text-align: center;
  margin: 1rem;
}

header > h1 {
  margin-top: 0;
}

div.content > * {
  margin: 0;
  padding: 1rem;
}

p {
  margin-top: 0;
  padding-top: 0;
}

menu {
  background: lightgreen;
}

menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

menu ul li {
  margin-bottom: .5rem;
}

menu ul li:last-child {
  margin-bottom: 0;
}

main {
  background: lightblue;
}

main > p {
  background: antiquewhite;
}

aside {
  background: lightpink;
}

footer {
  background: darkgrey;
  color: white;
  text-align: center;
}

/* Actual Flexbox Stuff */
div.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3rem;
          flex: 0 0 3rem;
}

main {
  -webkit-box-flex: 2;
      -ms-flex: 2 1;
          flex: 2 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10rem;
          flex: 0 1 10rem;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

main > p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  margin: 0 1rem;
}
